/* style */

body {
	background: #CBE4FA;
	scrollbar-face-color: #9AC0DF;
	scrollbar-highlight-color: #ffffff;
	scrollbar-shadow-color: #000000;
	scrollbar-arrow-color: #000000;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	margin-right: 20px;
	font-family: georgia;
	font-size: 14px;
	font-weight: normal;
	color: #1C4563;
}


/* TEXT BIG STYLE */
h3 {
	color: #1C4563;
	font-family: georgia;
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}
h2 {
	color: #1C4563;
	font-family: georgia;
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 10px;
	padding-top: 0px;
	margin-bottom: 10px;
	margin-top: 0px;
}

.hr {
	border: none; /* Убираем границу для браузера Firefox */ 
 	color: #1C4563; /* Цвет линии для браузера Internet Explorer */ 
	background-color: #1C4563; /* Цвет линии для браузера Firefox и Opera */ 
	height: 2px; /* Толщина линии */
}



/* INPUT STYLES */

.submitbutton {
	background: url(button.gif) repeat-x center;
	width: 115px;
	height: 30px;
	border: 1px solid #98BFDF; 
	font-family: georgia;
	font-size: 12px;
	font-weight: bold;
	color: #5F5F5F; 
}



input {
	background: #DEFFFF;
	font-family: georgia;
	font-size: 14px;
	font-weight: bold;
	color: #1C4563;
	border: 2px solid #98BFDF;
}

select {
	background: #DEFFFF;
	font-family: georgia;
	font-size: 14px;
	font-weight: bold;
	color: #1C4563;
	border: 2px solid #98BFDF;
}


.td {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	color: #1C4563;
	font-family: georgia;
	font-size: 16px;
	font-weight: bold;
}
.trdatauser1 {
	background: #9FC3E2;
}
.trdatauser2 {
	background: #FDEBBA;
}
.tablehistory {
	border: 1px solid #1C4563;
	background: #D27D00;
}
